/Ch13/nbproject/private/
/Ch13/build/
/Lab05_135/nbproject/private/
/Lab05_137/nbproject/private/
/Lab05_135/build/
/Lab05_137/build/
/Ch12/nbproject/private/
/Ch12/build/
/TestFX/nbproject/private/
/JavaApplication26/nbproject/private/
/JavaApplication26/build/
/HelloFX/nbproject/private/
/HelloFX/build/
/Ch17/nbproject/private/
/Ch17/build/
/Ch14/nbproject/private/
/Ch14/build/
/Ch15/nbproject/private/
/Ch15/build/
/LoginScene/nbproject/private/
/LoginScene/build/